body {
  text-align: center;
  background-image: linear-gradient(to right,pink,cyan,pink);
}

.NavBar{
  width: 99%;
  padding: 2px;
  height: 55px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  font-size: 33px;
  position: absolute;
  left: 6px;
  top: 15px;
}

.link{
  color:bisque;
}

.table{
  background-color: white;
  width: 99%;
  padding: 2px;
  border: 2px solid black;
  border-collapse: collapse;
  position: absolute;
  top: 140px;
  left: 6px;
  height: 100%;
  font-size: 20px;
   
}

.head{
  position: absolute;
  top: 60px;
  left: 20px;
}

h1.home-h{
  position: relative;
  top: 50px;
  right: 555px;
}

.btn-a{
  border-color: black;
  border-radius: 25px;
  width: 200px;
  height: 45px;
  font-size: 15px;
  position: absolute;
  left: 1117px;
  top: 80px;
  background-color: darkgrey;
}

